@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content: center; align-items: center; height: 10%; flex-direction: column;">
    <h1 class="display-4">Welcome</h1>
    <p>
        <img src="/css/colegas.png" alt="Alternate Text" />
    </p>
</div>